{% extends 'iplookup/base.html' %}
{%load static%}


{% block content %}

<!--visitor's ip adress details main page-->
<div class="fl-content-full container">
	<div class="row">
		<div class="fl-content col-md-12">
			<article class="fl-post post-111 page type-page status-publish hentry" id="fl-post-111" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">

			<div class="fl-post-content clearfix" itemprop="text">
		<div class="fl-builder-content fl-builder-content-111 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="111"><div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5db9cbe851c41" data-node="5db9cbe851c41">
	<div class="fl-row-content-wrap">
		<div class="uabb-row-separator uabb-top-row-separator" >
</div>
						<div class="fl-row-content fl-row-fixed-width fl-node-content">

<div class="fl-col-group fl-node-5db9cbe877a43" data-node="5db9cbe877a43">
			<div class="fl-col fl-node-5db9cbe877d22" data-node="5db9cbe877d22">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-wipa-static-html fl-node-5db9cbe8507b2" data-node="5db9cbe8507b2">
	<div class="fl-module-content fl-node-content">


	<div align="center" id="whatismyipaddress_728x90_Desktop_ATF" style="padding:5px; 0px;">
		<script data-cfasync="false" type="text/javascript">freestar.config.enabled_slots.push({ placementName: "whatismyipaddress_728x90_Desktop_ATF", slotId: "whatismyipaddress_728x90_Desktop_ATF" });</script>
	</div>


		<div class="ip-detail minified">
	<div class="left">




		<!-- d o   n o t   s c r i p t -->
		<div class="ip-address-list">



			<p>My IP Address is:</p>

			<p class="ip-address">IPv4: <span class="tooltip"><span>?</span> <span>The most common IP version assigned by ISPs.</span></span> <span class="address" id="ipv4"><a href="https://whatismyipaddress.com/ip/197.48.167.124" style="color:#fff;">{{ip}}</a></span></p><p class="ip-address">IPv6: <span class="tooltip"><span>?</span> <span>A newer, longer IP format many networks use.</span></span> <span class="address" id="ipv6">Checking...</span><img src='https://ds6.whatismyipaddress.com/ds6.php?token=74ac726a17df7cf82847783ab4663998' alt='' height=1 width=1></p>

		</div>
		<!-- d o   n o t   s c r i p t -->



		<div class="map-wrapper mobile">
			<div id="map_mobile">
				<div id="map_canvas_mobile" style="background-color:#99b3cc;min-height:270px;">Loading...</div>
			</div>

		</div>
		<div class="call-to-action">


				<p>You can check other IP adress</p>
				<div class="warning-button-container">



					<a href="{%url 'iplookup'%}" class="button">
						<span></span>
						<span>Search another IP Address Now</span>
					</a>
				</div>


		</div>
		<div class="ip-information">
			<p class="label">My IP Information:</p>
			<div class="inner">
				        <p class="information"><span>ISP:</span> <span>TE Data</span></p>								       <p class="information"><span>City:</span> <span>Alexandria</span></p>				     <p class="information"><span>Region:</span> <span>Al Iskandariyah</span></p>				    <p class="information"><span>Country:</span> <span>Egypt</span></p>			</div>
		</div>
	</div>
	<div class="right">
		<div class="map-wrapper desktop">
			<div id="map_desktop">
				<div id="map_canvas_desktop" style="background-color:#99b3cc;min-height:270px;">Loading...</div>
		</div>
	</div>
</div>	</div>
</div>
	</div>
</div>
	</div>
		</div>
	</div>
</div>


						<script>
							var mymap=L.map('map_canvas_desktop',{dragging:false}).setView([31.200001,29.9],6);
							L.tileLayer('https://maps.whatismyipaddress.info/tiles/osm/{z}/{x}/{y}.png',{attribution: '&copy; OpenStreetMap <a href="//www.openstreetmap.org/copyright">Terms</a>',maxZoom:6}).addTo(mymap);
							var rIcon = L.icon({iconUrl:'https://cdn.whatismyipaddress.com/images/marker_sq.png',iconSize:[16, 16],iconAnchor:[8, 12],popupAnchor:[1, -13]});
							L.marker([31.200001,29.9], {icon: rIcon}).addTo(mymap).bindPopup('<a href="https://whatismyipaddress.com/ip/197.48.167.124" style="text-decoration:none;">Click for more details about <b>197.48.167.124</b></a>').openPopup();
						</script>






<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
	var delay=2500; //1 second
	setTimeout(function() {
  	DScheck();
}, delay);

}, false);

	function DScheck()
    {
		var xmlhttp=false;
		        if (window.XMLHttpRequest)
        {// code for IE7+, Firefox, Chrome, Opera, Safari, SeaMonkey
            xmlhttp=new XMLHttpRequest();
        }
        else
        {// code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                // alert(xmlhttp.responseText);
            }
        }
        xmlhttp.open("GET", 'https://whatismyipaddress.com/ds3?token=74ac726a17df7cf82847783ab4663998&v=6', false);
        xmlhttp.send();
		if(xmlhttp==false){ varContent = 'None'; }
		else {
			if(xmlhttp.responseText.includes("Not detected"))
				{varContent = "Not detected";}
			else
				{varContent = "<a href='/ip/"+xmlhttp.responseText+"' style='color:#fff;'>"+xmlhttp.responseText+"</a>";}
		}
		document.getElementById('ipv6').innerHTML = varContent;
	}

</script>



	<!-- Tag ID: whatismyipaddress_leaderboard_mid -->

<div align="center" id="whatismyipaddress_leaderboard_mid">
  <script data-cfasync="false" type="text/javascript">
      freestar.config.enabled_slots.push({ placementName: "whatismyipaddress_leaderboard_mid", slotId: "whatismyipaddress_leaderboard_mid" });
  </script>
</div>

					</div>
	</div>
	</div>
</div>
	</div>
</div>
	</div>
		</div>
	</div>
</div>




<div class="fl-content-full container">
	<div class="row">
		<div class="fl-content col-md-12">
			<article class="fl-post post-111 page type-page status-publish hentry" id="fl-post-111" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">

			<div class="fl-post-content clearfix" itemprop="text">
		<div class="fl-builder-content fl-builder-content-111 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="111"><div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5db9cbe851c41" data-node="5db9cbe851c41">
	<div class="fl-row-content-wrap">
		<div class="uabb-row-separator uabb-top-row-separator" >
</div>
						<div class="fl-row-content fl-row-fixed-width fl-node-content">

<div class="fl-col-group fl-node-5db9cbe877a43" data-node="5db9cbe877a43">
			<div class="fl-col fl-node-5db9cbe877d22" data-node="5db9cbe877d22">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-wipa-static-html fl-node-5db9cbe8507b2" data-node="5db9cbe8507b2">
	<div class="fl-module-content fl-node-content">


	<div align="center" id="whatismyipaddress_728x90_Desktop_ATF" style="padding:5px; 0px;">
		<script data-cfasync="false" type="text/javascript">freestar.config.enabled_slots.push({ placementName: "whatismyipaddress_728x90_Desktop_ATF", slotId: "whatismyipaddress_728x90_Desktop_ATF" });</script>
	</div>


		<div class="ip-detail minified">

			<label class="left search-field ">
<span class="screen-reader-text">Search for:</span>
<input type="search" class="search-field" placeholder="Enter Keywords or IP Address…" value="" name="s">
</label>
		<div class="right call-to-action">
				<div class="right warning-button-container">
					<a href="{%url 'iplookup'%}}" class="button">
						<span></span>
						<span>Proxy check</span>
					</a>
				</div>
		</div>

	</div>
	</div>
</div>
	</div>
</div>
	</div>
		</div>







	</div>
</div>







<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
	var delay=2500; //1 second
	setTimeout(function() {
  	DScheck();
}, delay);

}, false);

	function DScheck()
    {
		var xmlhttp=false;
		        if (window.XMLHttpRequest)
        {// code for IE7+, Firefox, Chrome, Opera, Safari, SeaMonkey
            xmlhttp=new XMLHttpRequest();
        }
        else
        {// code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                // alert(xmlhttp.responseText);
            }
        }
        xmlhttp.open("GET", 'https://whatismyipaddress.com/ds3?token=74ac726a17df7cf82847783ab4663998&v=6', false);
        xmlhttp.send();
		if(xmlhttp==false){ varContent = 'None'; }
		else {
			if(xmlhttp.responseText.includes("Not detected"))
				{varContent = "Not detected";}
			else
				{varContent = "<a href='/ip/"+xmlhttp.responseText+"' style='color:#fff;'>"+xmlhttp.responseText+"</a>";}
		}
		document.getElementById('ipv6').innerHTML = varContent;
	}

</script>



	<!-- Tag ID: whatismyipaddress_leaderboard_mid -->

<div align="center" id="whatismyipaddress_leaderboard_mid">
  <script data-cfasync="false" type="text/javascript">
      freestar.config.enabled_slots.push({ placementName: "whatismyipaddress_leaderboard_mid", slotId: "whatismyipaddress_leaderboard_mid" });
  </script>
</div>

					</div>
	</div>
	</div>
</div>
	</div>
</div>
	</div>
		</div>
	</div>
</div>


<div class="ip-detail minified">

			<label class="left search-field ">
<span class="screen-reader-text">Search for:</span>
<input type="search" class="search-field" placeholder="Enter Keywords or IP Address…" value="" name="s">
</label>
		<div class="right call-to-action">
				<div class="right warning-button-container">
					<a href="{%url 'iplookup'%}}" class="button">
						<span></span>
						<span>WHOIS lookup</span>
					</a>
				</div>
		</div>

	</div>
	</div>
</div>
	</div>
</div>
	</div>














<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-5d8e8cd141d27 wipa-home-page-tools" data-node="5d8e8cd141d27">
	<div class="fl-row-content-wrap">
		<div class="uabb-row-separator uabb-top-row-separator" >
</div>
						<div class="fl-row-content fl-row-fixed-width fl-node-content">
		<br><br>
		<h2 class="fl-heading">
		<span class="fl-heading-text">Select From The Tools :</span>
	</h2>
	</div>
</div>

<div class="fl-col-group fl-node-5d8e8cdd0945d fl-col-group-nested fl-col-group-equal-height fl-col-group-align-top fl-col-group-custom-width" data-node="5d8e8cdd0945d">
			<div class="fl-col fl-node-5d8e8cdd095bf fl-col-small" data-node="5d8e8cdd095bf">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-pp-infobox fl-node-5d8e8e588958e" data-node="5d8e8e588958e">
	<div class="fl-module-content fl-node-content">
		<div class="pp-infobox-wrap">
			<a class="pp-infobox-link" href="{%url 'iplookup'%}" target="_self">
	<div class="pp-infobox layout-6">
	<span class="pp-infobox-title-prefix"></span>

		<div class="pp-infobox-title-wrapper">
		<h4 class="pp-infobox-title">IP Look Up</h4>
	</div>

	<div class="pp-icon-wrapper animated">
						<div class="pp-infobox-image">
				<img src="https://whatismyipaddress.com/wp-content/uploads/tool-ip-look-up.svg" alt="IP Look Up icon" />
			</div>
			</div>
	<div class="pp-infobox-description">
		<div class="pp-description-wrap">
			<p>Know the IP address of another computer? You can find where in the world it is and more.</p>		</div>
			</div>
</div>		</a>
	</div>
	</div>
</div>
	</div>
</div>
			<div class="fl-col fl-node-5d8e8cdd095c4 fl-col-small" data-node="5d8e8cdd095c4">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-pp-infobox fl-node-5d974fb4c5606" data-node="5d974fb4c5606">
	<div class="fl-module-content fl-node-content">
		<div class="pp-infobox-wrap">
			<a class="pp-infobox-link" href="/trace-email" target="_self">
	<div class="pp-infobox layout-6">
	<span class="pp-infobox-title-prefix"></span>

		<div class="pp-infobox-title-wrapper">
		<h4 class="pp-infobox-title">IP blacklist check</h4>
	</div>

	<div class="pp-icon-wrapper animated">
						<div class="pp-infobox-image">
				<img src="https://whatismyipaddress.com/wp-content/uploads/tool-trace-email.svg" alt="Trace Email Icon" />
			</div>
			</div>
	<div class="pp-infobox-description">
		<div class="pp-description-wrap">
			<p>Track down the geographical location and origin of an email you received.</p>		</div>
			</div>
</div>		</a>
	</div>
	</div>
</div>
	</div>
</div>
			<div class="fl-col fl-node-5d8e8cdd095c7 fl-col-small" data-node="5d8e8cdd095c7">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-pp-infobox fl-node-5d974fbe78d1d" data-node="5d974fbe78d1d">
	<div class="fl-module-content fl-node-content">
		<div class="pp-infobox-wrap">
			<a class="pp-infobox-link" href="/hide-ip" target="_self">
	<div class="pp-infobox layout-6">
	<span class="pp-infobox-title-prefix"></span>

		<div class="pp-infobox-title-wrapper">
		<h4 class="pp-infobox-title">Data breach check</h4>
	</div>

	<div class="pp-icon-wrapper animated">
						<div class="pp-infobox-image">
				<img src="https://whatismyipaddress.com/wp-content/uploads/tool-hide-my-ip.svg" alt="Hide My IP icon" />
			</div>
			</div>
	<div class="pp-infobox-description">
		<div class="pp-description-wrap">
			<p>Learn how to use a high-tech "middleman" to shield your real IP addess on the internet.</p>		</div>
			</div>
</div>		</a>
	</div>
	</div>
</div>
	</div>
</div>

	</div>

<div class="fl-col-group fl-node-5d8e8ce121794 fl-col-group-nested fl-col-group-equal-height fl-col-group-align-top fl-col-group-custom-width" data-node="5d8e8ce121794">
			<div class="fl-col fl-node-5d8e8ce12192f fl-col-small" data-node="5d8e8ce12192f">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-pp-infobox fl-node-5d974faecc548" data-node="5d974faecc548">
	<div class="fl-module-content fl-node-content">
		<div class="pp-infobox-wrap">
			<a class="pp-infobox-link" href="/blacklist-check" target="_self">
	<div class="pp-infobox layout-6">
	<span class="pp-infobox-title-prefix"></span>

		<div class="pp-infobox-title-wrapper">
		<h4 class="pp-infobox-title">Hostname IP check </h4>
	</div>

	<div class="pp-icon-wrapper animated">
						<div class="pp-infobox-image">
				<img src="https://whatismyipaddress.com/wp-content/uploads/tool-security-check.svg" alt="Security Check icon" />
			</div>
			</div>
	<div class="pp-infobox-description">
		<div class="pp-description-wrap">
			<p>Have you been blacklisted because of the IP address you use?<br />Check to see here.</p>		</div>
			</div>
</div>		</a>
	</div>
	</div>
</div>
	</div>
</div>
			<div class="fl-col fl-node-5d8e8ce121934 fl-col-small" data-node="5d8e8ce121934">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-pp-infobox fl-node-5d974fc0753f0" data-node="5d974fc0753f0">
	<div class="fl-module-content fl-node-content">
		<div class="pp-infobox-wrap">
			<a class="pp-infobox-link" href="/speed-test" target="_self">
	<div class="pp-infobox layout-6">
	<span class="pp-infobox-title-prefix"></span>

		<div class="pp-infobox-title-wrapper">
		<h4 class="pp-infobox-title">Speed Test</h4>
	</div>

	<div class="pp-icon-wrapper animated">
						<div class="pp-infobox-image">
				<img src="https://whatismyipaddress.com/wp-content/uploads/tool-speed-test.svg" alt="Speed Test Icon" />
			</div>
			</div>
	<div class="pp-infobox-description">
		<div class="pp-description-wrap">
			<p>Is your Internet connection up to speed? Find out for free with a quick click.</p>		</div>
			</div>
</div>		</a>
	</div>
	</div>
</div>
	</div>
</div>
			<div class="fl-col fl-node-5d8e8ce121937 fl-col-small" data-node="5d8e8ce121937">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-pp-infobox fl-node-5d974fb996195" data-node="5d974fb996195">
	<div class="fl-module-content fl-node-content">
		<div class="pp-infobox-wrap">
			<a class="pp-infobox-link" href="/ip-tools" target="_self">
	<div class="pp-infobox layout-6">
	<span class="pp-infobox-title-prefix"></span>

		<div class="pp-infobox-title-wrapper">
		<h4 class="pp-infobox-title">Reverse IP check</h4>
	</div>

	<div class="pp-icon-wrapper animated">
						<div class="pp-infobox-image">
				<img src="https://whatismyipaddress.com/wp-content/uploads/tool-ip-tools.svg" alt="IP Tools icon" />
			</div>
			</div>
	<div class="pp-infobox-description">
		<div class="pp-description-wrap">
			<p>Have the right tool for any job. That goes for your Internet connection, too.</p>		</div>
			</div>
</div>		</a>
	</div>
	</div>
</div>
	</div>
</div>

	</div>
	</div>
</div>
	</div>
		</div>
	</div>
</div>
<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5d8e3a5751cdb" data-node="5d8e3a5751cdb">
	<div class="fl-row-content-wrap">
		<div class="uabb-row-separator uabb-top-row-separator" >
</div>
						<div class="fl-row-content fl-row-fixed-width fl-node-content">

<div class="fl-col-group fl-node-5d8e3ba7e7983" data-node="5d8e3ba7e7983">
			<div class="fl-col fl-node-5d8e3ba7e7bd5" data-node="5d8e3ba7e7bd5">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-heading fl-node-5d8e8c15889a8" data-node="5d8e8c15889a8">
	<div class="fl-module-content fl-node-content"></div>
</div>


	</div>

<div class="fl-col-group fl-node-5d9cbde850fd0" data-node="5d9cbde850fd0">
			<div class="fl-col fl-node-5d9cbde8511ea" data-node="5d9cbde8511ea">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-photo fl-node-5d9cbde850ea2" data-node="5d9cbde850ea2">
	<div class="fl-module-content fl-node-content">
		<div class="fl-photo fl-photo-align-center" itemscope itemtype="https://schema.org/ImageObject">
	<div class="fl-photo-content fl-photo-img-">

<!-- Tag ID: whatismyipaddress_billboard_btf -->
<div align="center" id="whatismyipaddress_billboard_btf">
  <script data-cfasync="false" type="text/javascript">
      freestar.config.enabled_slots.push({ placementName: "whatismyipaddress_billboard_btf", slotId: "whatismyipaddress_billboard_btf" });
  </script>
</div>




					</div>



	</div>




	</div>
{% endblock %}